@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

body {
    background-image: url('../img/barbecue-background-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
}