<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}BBQ Finder{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}

    {% block body %}
    </div>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashBag.all %}
                <div class="container mt-2 text-center">
                {% for message in messages %}
                    <div class="alert alert-{{ type }}" role="alert">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container mt-5">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
</body>
</html>