{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
<div class="hero">
    {% include 'partials/header.html.twig' %}

    <div class="hero-container">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h1>¡Encuentra la barbacoa que</h1>
                    <h1>deseas rentar cerca de ti!</h1>
                    <form action="{{ path('barbecue_check') }}" action="get">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="country" placeholder="Ingresa tu País" required>
                            <input type="text" class="form-control" name="zipCode" placeholder="Ingresa tu ZIP Code" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/landing.css') }}">
{% endblock %}